@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body */
.all_content {
  background: #ECF1F6;
}

ul,
li {
  list-style: none;
}

/* ログイン画面 */
div figure{
  margin: 0 0 4rem;
}

figure img{
  display: block;
  margin: auto;
  width: 80%;
}

/* 新規登録 */
.register-error{
  color: red;
  font-size: 0.85em;
  margin-bottom: 0.2%;
}

.old_year, .old_month, .old_day {
  border: none;
  letter-spacing: 0.5rem;
}

.old-group {
  display: flex;
  justify-content: center;
}

/* サイドバー */
.sidebar {
  width: 200px;
  /* height: 100vh; */
  background-color: #03AAD2;
  font-weight: bold;
}

.main-container {
  width: 100%;
}

.sidebar p a {
  color: #FFF;
}

/* サイドバーアイコンの大きさ */
.sidebar img {
  width: 20%;
  /* アイコンの色変更 */
  filter: brightness(0) saturate(100%) invert(91%) sepia(33%) saturate(2%) hue-rotate(339deg) brightness(106%) contrast(101%);
}
/* トップページ */
.user_status {
  border-radius: 10px;
  background: #FFF;
}

/* スクール予約関連 */
.day-blank {
  background: #D3D3D3;
}

.day-sat {
  color: #0000FF;
}

.day-sun {
  color: #FF0000;
}

/* 土曜日 */
thead tr th:nth-child(6) {
  color: #0000FF;
}

/* 日曜日 */
thead tr th:nth-child(7) {
  color: #FF0000;
}

/* 過去日の土曜日の色指定 */
/* tbody tr td:nth-childここまで親タグを指定(6)何番目かを指定 .day子タグを指定  */
tbody tr td:nth-child(6) .day {
  color: #0000FF;
}

/* 過去日の日曜日の色指定 */
tbody tr td:nth-child(7) .day {
  color: #FF0000;
}

/* 予約ボタン */
.calender_btn  input {
  margin-top: 3%;
}
.past-day {
  background: #EEE;
}

.calendar-td {
  min-width: 100px;
}

.day_part {
  color: #494949;
  font-size: 12px;
}

.adjust-table {
  width: 70% !important;
}

.adjust-table td {
  padding: 0 !important;
}

.adjust-area p {
  justify-content: space-around;
}

.adjust-table-btn {
  width: 70%;
}

/* モーダル */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
}

/* スクール予約ページ キャンセルモーダル */
.modal-calender {
  left: 55%;
  padding: 40px;
  position: absolute;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 60%;
  border: 10px solid black;
}
/* .modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
} */

/* スクール予約詳細画面 */
.reserve-data {
  font-size: 20px;
}

.reserve-table {
  width: 98%;
  margin: 5px;
  font-size: 20px;
}

.reserve-list {
  background-color: #FFF;
  border-radius: 10px;
  box-shadow:0 0 8px #808080;
}

/* 見出し部分 */
.reserve-table thead tr {
  background-color: #03AAD2;
  color: #FFF;
}

/* 奇数行 */
.reserve-table tbody tr:nth-child(odd) {
  background-color: #FFF;
}

/* 偶数行 */
.reserve-table tbody tr:nth-child(even) {
  background-color:#e0ffff;
}

/* 掲示板の投稿編集のモーダル */
.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

/* 掲示板 */
.sub_categories {
  display: none;
}

.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

.post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
}

.detail_container {
  background: #FFF;
}

.post_area {
  background: #FFF;
  border-radius: 10px;
}

/* 投稿ボタン */
.post_btn {
  border-radius: 5px;
  padding: 0 5px;
  border: none;
  background: #03AAD2;
  text-align: center;
  height: 30px;
  margin-top: 3rem;
}

/* ボタンの色 */
.post_btn a {
  color: #FFF;
}

/* 検索 */
.post_search {
  display: flex;
  border-radius: 5px;
  margin-top: 5%;
}

/* 検索フォーム */
.post_keyword {
  width: 80%;
  border-right: none;
  border-radius: 5px 0 0 5px;
  background-color: #ECF1F6;
  border: 2px solid #dee2e6 !important;;
}

/* 検索ボタン */
.post_search_btn {
  background: #03AAD2;
  border-left: none;
  border-radius:  0 5px 5px 0;
  width: 30%;
  border: none;
  color: #FFF;
}

/* いいねした投稿ボタン、自分の投稿ボタングループ */
.category-btn {
  margin-top: 5%;
}

/* いいねした投稿ボタン、自分の投稿ボタン */
.like, .my_posts {
  width: 100%;
  height: 35px;
}

/* いいねした投稿ボタン */
.like {
  background-color: #ff9ece;
}

/* 自分の投稿ボタン */
.my_posts {
  background-color: #ffa500;
}

/* いいねボタン・コメントアイコンの色、太さ */
.post_area p{
  color: gray;
  font-weight: bolder;
}

.post_area p a{
  color: black;
  font-weight: 900;
}

/* ボタンの右寄せ */
.post_bottom_area {

  margin-left: 80%;
}

.like_btn,
.un_like_btn {
  cursor: pointer;

}

.un_like,
.un_like_btn {
  color: #E2254D;
}

.error_message {
  font-size: 12px;
  color: red;
}

/* 掲示板 詳細画面 */
.contributor {
  font-size: 12px;
  color: #999;
  font-weight: bold;
}

.sub_category_group {
  margin-right: 70%;
}

.detsail_post_title {
  font-size: 14px;
}

.detsail_post {
  font-size: 12px;
  color: #9E9E9E;
}

.detail_inner_head {
  display: flex;
  /* justify-content: space-between; */
}

.edit-modal-open {
  cursor: pointer;
}

.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

.edit-modal-btn {
  justify-content: space-between;
}

/* 掲示板新規投稿画面　メインカテゴリー、サブカテゴリー欄 */
.main-btn {
  margin-top: 10%;
  margin-bottom: 10%;
}

.sub-input {
  margin-top: 10%;
  margin-bottom: 10%;
}

/* 掲示板 コメント */
.comment_container {
  background: #FFF;
}

.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;
}

.comment_area textarea {
  height: 300px;
  resize: none;
}

.comment_container span {
  font-size: 12px;
}

.post_status span {
  font-size: 12px;
}

/* 掲示板　カテゴリー */
.category_area {
  background: #FFF;
  border-radius: 10px;
}

.category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}

.category_btn {
  font-size: 15px;
  border-radius: 5px;
  padding: 0 5px;
  border: none;
  /* background: #999; */
  color: #FFF;
}

.main_categories span,
.sub_categories input {
  list-style: none;
  cursor: pointer;
}

.sub_categories {
  display: none;
}

.sub_categories form {
  border-bottom: solid 1px lightgray;
    width: 80%;
    margin-left: 10%;
}

.sub {
  color: black;
  padding: 3px;
  background: #ECF1F6;
}



/* 投稿ごとのサブカテゴリー */
.sub_category_name {
  background-color:  #03AAD2;
  color: #FFF;
  border-radius: 5px;
  padding: 0 5px;
}

/* 掲示板アコーディオンメニュー */
.main_categories_conditions span {
  cursor: pointer;
}

.sub_categories {
  display: none;
}

.sub_categories.open {
  display: block;
}

/*バー部分*/
.main_categories{
  display: block;
  line-height: 1;
  position: relative;
  margin: 0 0 10px;
  padding: 10px;
  border-bottom: solid 1px lightgray;
}
/*閉じた状態の矢印描画*/
.main_categories::after {
  content:"";
  display:block;
  width:10px;
  height: 10px;
  border-top: solid 1px black;
  border-right:solid 1px black;
  transform: rotate(135deg);
  transition: transform 0.5s ease-in-out, top 0.5s ease-in-out;
  position:absolute;
  right: 25px;
  top: 25%;
}
/*開いた状態の矢印描画*/
/* main_categoriesをactiveクラスで指定して動かしたい場所を指定して矢印を動かす */
.main_categories.active::after {
  transform: rotate(-45deg);
}

/* ユーザー検索 */
.reserve_users_area {
  display: flex;
  flex-wrap: wrap;
  width: 1140px;
  margin: 10px auto;
  height: 95vh;
  /* スクロール縦のみ */
  overflow-y: scroll;
  /* スクロール横なし */
  overflow-x: hidden;
  padding: 10px;
  border-radius: 5px;
  /* 横4列縦3列 */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

/* ユーザーボックスレイアウト */
.one_person {
  width: 250px;
  height: 250px;
  padding: 25px;
  font-size: 1.2rem;
  border-radius: 8px;
  background: #FFF;
}
.reserve_users_area span {
  font-size: 12px;
  font-weight: bold;
}

/* ユーザー検索ボタンエリア */
/* キーワード、ボタンエリアのフォームの大きさ、高さ */
.search-box1 input {
  height: 45px;
  width: 80%;
}

/* ユーザー検索右側　カテゴリー */
.search-box select {
  border-radius: 5px;
  background-color: #d3d3d3;
  border: none;
  font-size: 15px;
}
/* キーワードのレイアウト */
.free_word {
  border-radius: 5px;
  background-color: #d3d3d3;
  border: none;
  font-size: 15px;
}

.search-box2 select, .search-box3 select, .search-box4 select{
  height: 30px;
  width: 35%;
}


/* 検索ボタンレイアウト */
.search_btn_style input {
  color: #FFF;
  background-color: #03AAD2;
  border: none;
  border-radius: 5px;
  width: 80%;
  padding: 5%;
  margin-top: 5%;
}


/* リセットボタンレイアウト */
.reset_btn_style input  {
  border: none;
  color: #03AAD2;
  background-color: #ECF1F6;
  width: 80%;
  padding: 5%;
}

/* 検索条件の追加アコーディオンメニュー */
.search_conditions {
  border-bottom: solid 2px lightgray;
  display: block;
  position: relative;
  padding: 10px;
  width: 80%;
}

/* 閉じている時のレイアウト */
.search_conditions::after {
  content:"";
  display:block;
  width:10px;
  height: 10px;
  border-top: solid 1px black;
  border-right:solid 1px black;
  transform: rotate(135deg);
  transition: transform 0.5s ease-in-out, top 0.5s ease-in-out;
  position:absolute;
  right: 25px;
  top: 35%;
}

/* 開いている時の動き */
.search_conditions.active::after {
  transform: rotate(-45deg);
}

/* アコーディオンメニュータイトル */
.search_conditions span {
  cursor: pointer;
  color: #606060;
}

/* アコーディオンメニュー中身 */
.search_conditions_inner {
  display: none;
  background: #ECF1F6;
  justify-content: space-around;
  margin-top: 5%;
}

/* 選択科目中身 */
.subjects-box {
  display: flex;
  justify-content: space-around;
  width: 45%;
}


.subject_edit_btn {
  /* font-size: 12px; */
  color: #03AAD2;
  cursor: pointer;
  display: block;
  position: relative;
  padding: 10px;
  width: 80%;
}

.subject_edit_btn::after {
  content:"";
  display:block;
  width:10px;
  height: 10px;
  border-top: solid 2px #03AAD2;
  border-right:solid 2px #03AAD2;
  transform: rotate(135deg);
  transition: transform 0.5s ease-in-out, top 0.5s ease-in-out;
  position:absolute;
  left: 18%;
  top: 40%;
}

/* 開いている時の動き */
.subject_edit_btn.active::after {
  transform: rotate(-45deg);
}


.subject_inner {
  display: none;
}

/* .btn-top {
  padding: 0 12px;
} */